body { 
 text-align: center;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  background: white; 
  font-size: 1em;
  line-height: 1.5em;
}

.contenido {
  display: inline-block;
  text-align: start;
}

meter,
input[type=range],
output {
  display: block;
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
}
header {
  color:  black;
  background-color:#64f0e9;
  top: 0;
	z-index: 1;
	height: 50px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
}
.herra {
  display: contents;
  padding: 1rem;
  position: inherit;
  gap: 1.5rem;
}

